
@media screen and (max-width: 600px) {
  .grid-container-home {
    display: grid;
    grid-template-columns: 1fr;
  }

    .grid-item-1-home {
      text-align: center;
    }

    .grid-item-4-home {
      grid-column: 1 / -1;
      grid-row: 3;
    }

  img {
    max-width: 100%;
  }
}

@media screen and (max-width: 1900px) {
  .grid-container-home {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-column-gap: 50px;
  }

    .grid-item-1-home {
      grid-column: 1 / -1;
      text-align: center;
    }

    .grid-item-2-home {
      grid-column: 1 / -1;
    }

    .grid-item-3-home {
      grid-row: span 2;
    }

  .grid-container-about {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-column-gap: 50px;
  }

    .grid-item-1-about {
      grid-column: 1 / -1;
      text-align: center;
    }

    .grid-item-2-about {
      grid-row: span 2;
    }

    .grid-item-3-about {
      grid-column: 2 / 3;
    }

    .grid-item-4-about {
      grid-column: 3 / -1;
    }

    .grid-item-5-about {
      grid-column: 1 / -1;
      text-align: center;
    }

    .grid-item-6-about {
      grid-column: 2 / 3;
    }

  img {
    max-width: 100%;
  }

  a {
    color: #B9314F;
  }

  a:hover {
    color: #B9314F;
    font-weight: bold;
  }

  a:visited {
    color: #2F0A28;
  }
}
