h1 {
  font-family: "URW Chancery L", cursive;
  text-align: center;
}
p {
  font-family: "URW Chancery L", cursive;

}

button {
  font-family: "Luminari", fantasy;
  font-size: 17px;
  letter-spacing: 1px;
  text-transform: full-width;
  text-align: center;
  border: 2px solid #586F7C;
  background: #D7FFAB;
  color: #586F7C;
  box-shadow: 1px 1px 2px #2F0A28;
  border-radius: 10px;
  padding: 3px 10px;
  display: inline-block;
  cursor: pointer;
}

#timeBtn {
  border: 2px solid #CEBEBE;
  background: #2F0A28;
  color: #CEBEBE;
  box-shadow: 1px 1px 2px #586F7C;

}
