@media screen and (max-width: 600px) {
  .grid-container-contact {
    display: block;
    grid-template-rows: 1fr;
  }

    .grid-item-1-contact {
      text-align: center;
      grid-column: 1 / -1;
      grid-row: 1;
    }

    .grid-item-4-contact {
      grid-column: 1 / -1;
      grid-row: 2;
    }

    .grid-item-3-contact {
      grid-column: 1 / -1;
      grid-row: 3;
    }

    .grid-item-2-contact {
      grid-column: 1 / -1;
      grid-row: 4;
    }

  img {
    max-width: 100%;
  }
}

@media screen and (max-width: 1900px) {
  .grid-container-contact {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-column-gap: 50px;
  }

    .grid-item-1-contact {
      grid-column: 1 / -1;
      justify-content: center;
    }

  img {
    max-width: 100%;
    border-radius: 50%;
  }

  a {
    color: #B9314F;
  }

  a:hover {
    color: #B9314F;
    font-weight: bold;
  }

  a:visited {
    color: #2F0A28;
  }
}
